extends ../main.jade
block content
	.products
		ul.products__list
			-for(var i=0; i<6; i++)
				li.products__item
					.products__image
						.products__main-img
							img.products__main-image(src="images/content/big-sams-view1.png", alt="samsung")
						ul.image__list
							li.image__item
								img.products__small-image(src="images/content/big-sams-view1.png", alt="samsung")
							li.image__item
								img.products__small-image(src="images/content/big-alc-view1.png", alt="samsung")
							li.image__item
								img.products__small-image(src="images/content/big-high-view1.png", alt="samsung")
						.products__article
								span.products__article-text Артикул
								span.products__article-number 189238
					.products__content
						h3.products__header Samsung GT-l9301l GALAXY S3
						span.products__text Смартфон Samsung GT-l9301l GALAXY S 3
						p.products__text.
							Смартфон Samsung GT-l9301l GALAXY S 3 Ceramic White Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц...
						ul.products__features-list
							li.products__features-item.clearfix
								span.products__request Тип SIM карты
								span.products__answer Micro-SIM
							li.products__features-item.clearfix
								span.products__request Количество SIM-карт
								span.products__answer 0
							li.products__features-item.clearfix
								span.products__request Цвет
								span.products__answer Белый
							li.products__features-item.clearfix
								span.products__request ОС
								span.products__answer Android
							li.products__features-item.clearfix
								span.products__request Связь 3G
								span.products__answer Есть
							li.products__features-item.clearfix
								span.products__request 4G (LTE)
								span.products__answer Нет
							li.products__features-item.clearfix
								span.products__request GPS-модуль
								span.products__answer Есть
						.products__rating.clearfix
							ul.products__list-stars.clearfix
								-for(var j=0; j<5; j++)
									if (j!=4)
										li.products__item-stars
									else
										li.products__item-stars.products__item-stars_unactive
								li.products__rating-number 4
					.products__info
						.products__price-wrap
							span.products__price 11 290
						.products__purchase.clearfix
							button.products__purchase-button В корзину
							span.products__purchase-text В наличии
