$pageWidth: 100%;
$bgc: #32419b;
li{
	list-style: none;
}

html,
body{
  height: 100%;
  min-width: $pageWidth;
  background-color: $bgc;
  font-size: 100%;
}
.wrapper{
	width: $pageWidth;
	margin: 0 auto;
}
.clearfix:before, .clearfix:after{
	content: " ";
	display: table;
}
.clearfix{
	&:after{
	clear:both;
	}
}

