doctype html
html(lang="ru-RU")
	head
		include _common/head.jade
		link(rel="stylesheet", href="css/_layout/style.css") 
	body
		//- //[if IE 9]
		//- <div class="ie9">
		//- //[endif]
		.container
			.player
				.wrapper.clearfix
					include _common/playerItem.jade
					include _common/menu.jade
					include _common/fullCategory.jade
			include _common/firstPage.jade
		script(src="bower/jquery/jquery.js")
		//- script(src="js/placeholder.js", type="text/javascript")
		//- script(src="js/placeholder-init.js", type="text/javascript")
		script(src="js/main.js", type="text/javascript")





