.menu
	.header.clearfix
		.header__logo-wrap
			img.header__logo(src='images/content/logo.png')
		.header__menu-icon
			i.pe-7s-menu.pe-5x.pe-va
	.acco
		ul.acco__list
			- var categories = ['Галактика AMM','Галактика EAM','Галактика ERP','Галактика BI']
			each category in categories
				li.acco__item
					.acco__item-wrap.clearfix
						span.acco__text= category
						.acco__icon
							i.pe-7s-angle-down
						.acco__value-wrap.clearfix
							span.acco__value 15
					ul.inserted__list
						i.pe-7s-more.inserted__icon
						- for(var i=0; i<5; i++)
								li.inserted__item.clearfix
									span.inserted_time 20:25
									.inserted__text-wrap
										span.inserted__text Управление проектами на промышленных предприятиях
										.inserte__id-wrap
											span.inserte__id= i+1
	.footer.clearfix
		.footer__button-wrap
			button.footer__button Просмотреть все материалы
		.footer__icon
			i.pe-7s-expand1.pe-5x.pe-va