.player__item
	.video
		.video__item
			iframe.video__content(src="https://www.youtube.com/embed/X9e2OCoEQxc?list=PLb3OUYErfQnfQThxIwooaUipH51LWuX3s" frameborder="0" allowfullscreen)
		h3.video__title Управление проектами на промышленных предприятиях
		p.video__info Информация о видео